@use "functions" as *;
@use "media" as *;

:root {
  --color-accent: #ffd11a;
  --color-light: #fff;
  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333;
  --color-dark-40: #666;
  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;
  --color-red: #f50;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Kumbh Sans", sans-serif;
  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};
  --transition-duration: 0.2s;
  --border: #{rem(1)} solid var(--color-dark-15);

  @include laptop {
    --container-width: #{rem(1280)};
  }
}
