@use "../helpers" as *;

.blog-details {
  &__banner {
    display: flex;
    align-items: end;
    min-height: fluid(598, 281);
    padding-block: fluid(65, 17);
    text-align: center;
    background: linear-gradient(180deg, rgb(20 20 20 / 0%) 0%, rgb(20 20 20 / 88%) 75.52%, #141414 100%), var(--bgImg) center/cover no-repeat;
  }

  &__title {
    @include fluid-text(64, 28);

    font-family: var(--font-family-base);
    font-weight: 600;
  }

  &__body {
    --initialMaxHeight: #{rem(741)};

    border-block: var(--border);

    @include laptop {
      --initialMaxHeight: #{rem(692)};
    }

    @include mobile {
      --initialMaxHeight: #{rem(669)};
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr rem(520);

      @include tablet {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    h2, h3, h4, h5, h6 {
      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &:not(:first-child) {
        margin-top: 1.5em;
      }
    }
  }

  &__content {
    @include tablet-above {
      border-right: var(--border);
    }
  }

  &__intro,
  &__main,
  &__actions,
  &__summary {
    padding: fluid(80, 40) rem(80);

    @include laptop {
      padding-inline: rem(60);
    }

    @include tablet {
      padding-inline: 0;
    }
  }

  &__intro,
  &__actions,
  &__summary {
    @include tablet {
      @include full-vw-centered-line(bottom);
    }
  }

  &__intro,
  &__actions {
    @include tablet-above {
      border-bottom: var(--border);
    }
  }

  &__actions {
    padding-block: fluid(50, 20);
  }
}