@use "../helpers" as *;

.news-card {
  display: grid;
  row-gap: rem(20);

  @include laptop {
    row-gap: rem(16);
  }

  &:has(.news-card__summary) {
    grid-template-columns: 32% 1fr;
    grid-template-areas: "image other" "image other" "image other";
    align-items: center;
    column-gap: rem(80);
    padding-block: fluid(80, 40);

    @include laptop {
      column-gap: rem(40);
    }

    .news-card {
      &__image {
        grid-area: image;
      }

      &__title {
        @include fluid-text(32, 20);

        font-family: var(--font-family-base);
        font-weight: 600;
      }
    }
  }

  &__image {
    border-radius: rem(12);

    @include laptop {
      border-radius: rem(10);
    }
  }

  &__body {
    display: grid;
    row-gap: rem(10);

    @include laptop {
      row-gap: rem(4);
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }
}