// Vendors
@use "./vendors/normalize";

// Base
@use "./base/fonts";
@use "./base/base";
@use "./base/utils";
@use "./base/typography";

// Components
@use "./components/expandable-content";
@use "./components/icon";
@use "./components/logo";
@use "./components/button";
@use "./components/burger-button";
@use "./components/badge";
@use "./components/socials";
@use "./components/metrics";
@use "./components/team";
@use "./components/resources-preview";
@use "./components/advantage-card";
@use "./components/tag";
@use "./components/tile";
@use "./components/card";
@use "./components/tabs";
@use "./components/person-card";
@use "./components/blog-actions";
@use "./components/blog-card";
@use "./components/download-info";
@use "./components/rating-view";
@use "./components/review-card";
@use "./components/about-card";
@use "./components/summary";
@use "./components/news-card";
@use "./components/news";
@use "./components/video-player";
@use "./components/video-card";
@use "./components/tabel-of-contents";
@use "./components/blog-detaails";
@use "./components/report-card";
@use "./components/accordion";
@use "./components/accordion-group";
@use "./components/feedback-form";
@use "./components/checkbox";
@use "./components/select";
@use "./components/field";
@use "./components/contacts-card";

// Layout
@use "./layout/header";
@use "./layout/footer";
@use "./layout/hero";
@use "./layout/section";
@use "./layout/list";
@use "./layout/bordered-grid";
@use "./layout/about";
@use "./layout/hero-alt";
@use "./layout/contact";
