// Vendors
@use "./vendors/normalize";

// Base
@use "./base/fonts";
@use "./base/base";
@use "./base/utils";
@use "./base/typogrophy";

// Components
@use "./components/icon";
@use "./components/logo";
@use "./components/button";
@use "./components/burger-button";
@use "./components/badge";
@use "./components/socials";
@use "./components/metrics";
@use "./components/team";
@use "./components/resources-preview";
@use "./components/advantage-card";
@use "./components/tag";
@use "./components/tile";
@use "./components/card";
@use "./components/tabs";
@use "./components/person-card";
@use "./components/blog-actions";
@use "./components/blog-card";
@use "./components/download-info";

// Layout
@use "./layout/header";
@use "./layout/footer";
@use "./layout/hero";
@use "./layout/section";
@use "./layout/list";
