// Vendors
@use "./vendors/normalize";

// Base
@use "./base/fonts";
@use "./base/base";
@use "./base/utils";
@use "./base/typogrophy";

// Components
@use "./components/icon";
@use "./components/logo";
@use "./components/button";
@use "./components/burger-button";
@use "./components/badge";
@use "./components/socials";

//Layout
@use "./layout/header";
@use "./layout/footer";
