@use "../helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
