@font-face {
  font-family: "Kumbh Sans";
  src: url("../../assets/fonts/kumbh-sans/kumbh-sans-400.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../../assets/fonts/kumbh-sans/kumbh-sans-500.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/inter-400.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/inter-500.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/inter-600.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/inter/inter-700.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
